<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS feed for Rory Sawyer's blog" />

    <title>rory sawyer</title>

    <style type="text/css" media="screen">

     body {
       font-family: 'Mulish', sans-serif;
       padding-left: 5vw;
       padding-right: 5vw;
       display: grid;
     }

     .index {
       padding-top: 5rem;
     }

     footer {
       padding-top: 5rem;
     }

     .index ul {
       list-style-type: none;
       padding-left: 0;
     }

     ul > li {
       padding-top: 0.5vw;
     }

    </style>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <div class="rc-scout">
        <!-- rc scout element goes here -->
      </div>
    </footer>
    <script async defer src="https://www.recurse-scout.com/loader.js?t=88ffdc52e1e297c1129199d6b658a30d"></script>
  </body>
</html>
