---
layout: layouts/base.njk
---

<style type="text/css" media="screen">
 nav {
   padding-top: 1vw;
   padding-bottom: 1.5vw;
 }

 container {
   display: block;
   border-top-style: solid;
   border-top-width: 1px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   padding-top: 1.5vw;
   padding-bottom: 0.5vw;
   max-width: 90vw;
 }

 #post-title {
   margin-top: 0;
 }

 #post img {
   display: block;
   max-width: 90vw;
   margin-left: auto;
   margin-right: auto;
 }

 footer {
   padding-bottom: 3vw;
   padding-top: 2vw;
 }
</style>


<section id="post">

  <nav>
    > <a href="/">home</a>
    > <a href="/posts">blog posts</a>
  </nav>

  <container>
    <h2 id="post-title"> {{ title }} </h2>

    <article>
      {{ content | safe }}
    </article>

  </container>


</section>
