---
layout: layouts/base.njk
eleventyImport:
collections: ["post"]
---

<section class="index">

  <nav>
    > <a href="/">home</a>
  </nav>

  <h2>blog posts</h2>

  <ul>
    {% set sorted_posts = collections.post | reverse %}
    {% for post in sorted_posts %}
      <li>
        <b><time datetime="{{ post.data.date }}">{{  post.data.date | readableDate("YYYY-MM-DD") }}</time></b>
        <a href="{{  post.url }}">{{post.data.title}}</a>
      </li>
    {% endfor %}
  </ul>

</section>
