---
# other metadata can be found in src/_data/metadata.js
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}" xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>rory sawyer's stuff</title>
    <link>https://sawyer.dev/posts/</link>
    <description>blogs from rs</description>
    <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <atom:link href="{{metadata.url}}/feed.xml" rel="self" type="application/rss+xml" />

    {%- for post in collections.post | reverse %}
      {%- set absolutePostUrl = post.url | url | absoluteUrl(metadata.blogUrl) %}
      <item>
        <title>{{  post.data.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <dc:creator>{{ metadata.author }}</dc:creator>
        <guid>{{ absolutePostUrl }}</guid>
      </item>
    {%- endfor %}

  </channel>
</rss>
