---
layout: layouts/base.njk
---

<section class="index">

  <h1>rory sawyer</h1>
  <nav>
    <div>
      <a href="https://archivesoftomorrow.com">archives of tomorrow</a>
    </div>
    <div><a href="posts">blog posts</a></div>
    <div>gits: <a href="https://github.com/soryrawyer/">hub</a>, <a href="https://gitlab.com/soryrawyer/">lab</a></div>
  </nav>

</section>
